.root {
  display: block;
}
.form {
  background-color: lightcyan;
  padding: 2vw 0;
}
.header {
  font-size: 3vw;
  padding: 2%;
}
.parent {
  display: flex;
  flex-direction: column;
  padding: 1vh 5vw;
}
.firstName {
  margin: 5px 0;
}
.lastName {
  margin: 5px 0;
}
.email {
  margin: 5px 0;
}
