.root {
  background-color: rgba(235, 225, 169, 0.551);
  display: flex;
  justify-content: center;
  padding: 3vh 0;
}
.initial-msg {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.parent {
  display: flex;
  flex-direction: column;

  .child {
    padding: 1vh 0;
  }

  image {
    width: 100px;
    height: 100px;
    padding: 1vh 1vw;
  }
}

